<div class="form-control">
  <h1>Admin Dashboard</h1>
  <ul>
    <h3>Total no.of users:<%= User.count %></h3>
    <li><a class="btn btn-lg btn-primary" href="users" role="button">Users</a></li>
    <!-- <li><%= link_to 'Users', users_path %></li> -->
    <h3>Stock of plants:<%= Store.all.to_a.sum { |item| item.quantity } %></h3>
    <li><a class="btn btn-lg btn-primary" href="stores" role="button">Plants</a></li>
  </ul>
</div>