<div class="form-control">
  <h1>Admin Dashboard</h1></br>
        <%= link_to users_path, class: "btn btn-lg btn-primary" do %>
            Users
        <% end %>&nbsp
        <%= link_to stores_path, class: "btn btn-lg btn-primary" do %>
            Plants
        <% end %>
        <%= link_to carts_path, class: "btn btn-lg btn-primary" do %>
            Orders
        <% end %>
  
</div>