<div id="plant" class="plants">
   <div class="container">
      <div class="row">
         <div class="col-md-12 ">
            <div class="titlepage">
               <h2>Our Wonderful plants</h2>
               <!-- <span>looking at its layout. The point of using Lorem Ipsumletters, as opposed to usingl</span> -->
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row">
           
           <% (Store.all).each do |p| %>
         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="plants-box">
               <figure><div class="img"><%= image_tag p.product_image,height: "289.99",width: "193.84" %><br></figure></br>
               <!-- <figure><img src="/assets/plant1.jpg" alt="img"/></figure> -->
               <h1>Name: <%= p.name %><br>
                   Price: <%= p.price %><br></h1>
               <div class="heading_container heading_center">
                  <div class="btn_box">
                     <%= button_to 'Add to Cart', line_items_path(:store_id => p.id)%>
                  
        
               </div></div>
            </div>
         </div>
        <% end %>
      </div>
   </div>
   
   
</div>