<div id="plant" class="plants">
   <div class="container">
      <div class="row">
         <div class="col-md-12 ">
            <div class="titlepage">
               <h2>Our Wonderful plants</h2>
               <!-- <span>looking at its layout. The point of using Lorem Ipsumletters, as opposed to usingl</span> -->
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row">
           
           <% (Store.where.not(quantity: 0)).each do |p| %>
         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="plants-box">
               <% if p.plant_image.attached? %>
                  <figure><div class="img"><%= image_tag p.plant_image,height: "289.99",width: "193.84" %><br></figure></br>
               <% end %>
               <!-- <figure><img src="/assets/plant1.jpg" alt="img"/></figure> -->
               <h1>Name: <%= p.name.titleize %><br>
                   Price: <%= p.price %><br></h1>
               <%= link_to line_items_path(store_id: p.id), method: :post, class: "btn btn-success" do %>
                  Add To Cart
               <% end %>
            </div>
         </div>
        <% end %>
      </div>
   </div>
   
   
</div>