<section >
         <div id="main_slider" class="carousel slide banner-main" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#main_slider" data-slide-to="0" class="active"></li>
               <li data-target="#main_slider" data-slide-to="1"></li>
               <li data-target="#main_slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="carousel-caption ">
                              <h1>Welcome To The <strong class="color">Greeno Plants</strong></h1>
                              <p>
Plants are a great addition to our homes and life for both their physical and psychological benefits. Over time, Greeno has made it easier to buy plants online. Explore Greeno’s curated list of green plants and enjoy the online plant shopping experience. </p>
                              <!-- <a class="btn btn-lg btn-primary" href="#" role="button">About</a> -->
                              <a class="btn btn-lg btn-primary" href="gallery/index" role="button">Shop Plants</a>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box">
                              <figure><img src="/assets/gyufyufyu.png" alt="img"/></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               
               


        
          
        
      </section>