<div class="form-control">
  <h1> List of orders </h1>
  <table class="table table-striped">
        <thead>
           <tr>
             <th>Customer</th>
             <th>Order Details</th>
             <th>Created date</th>
             <th>status</th>
             <th>purchased Date</th>
           </tr>
        </thead>
        <tbody>
              <% @carts.each do |cart| %>
                <tr>
                  <td><u><%= link_to cart.user.name, cart.user %></u></td>
                  <td><u><%= link_to "user order details", cart_list_path(cart) %></u></td>
                  <td><%= cart.created_at.strftime('%Y-%m-%d') %></td>
                  <% if cart.purchased_at.blank? %>
                  <td>added to cart</td>
                  <% else %>
                  <td>order placed</td>
                  <% end %>
                  <% if cart.purchased_at %>
                    <td><%= cart.purchased_at %></td>
                  <% else %>
                    <td>Not Yet</td>
                  <% end %>
                </tr>
              <% end %>
        </tbody>
  </table>
</div>
