<h1>Thank you for shopping on Greeno</h1></br>

<h3>Your Payment was successful.</h3></br>

<strong>A detailed email has been sent.</strong></br>

<a class="btn btn-lg btn-primary" href="gallery/index" role="button">Continue Shopping</a>